<div class="container">
  <div class="text-center mt-3 mb-5 text-light">
    <h1>Правила оплаты и безопасность платежей, конфиденциальность информации</h1>
  </div>
  <div class="colum mt-3 mb-3 p-2 text-light">
    <div class="col">
      <div>
        <h2>Правила оплаты</h2>
        <hr />
      </div>
      <div>
        <p>Оплата банковскими картами осуществляется через АО «АЛЬФА-БАНК».
          <img
            class="mx-3"
            width="200"
            src="/img/logo/AlfaBank.png"
            alt="Логотип АльфаБанка"
          />
        </p>
        <p>К оплате принимаются карты VISA, MasterCard, МИР.
          <img width="170" src="/img/logo/_Visa.png" alt="Visa" />
          <img
            width="150"
            src="/img/logo/Mastercard-logo.svg.png"
            alt="MasterCard"
          />
          <img width="170" src="/img/logo/logo_mir.jpg" alt="Mir" />
        </p>
        <p>На странице для ввода данных банковской карты потребуется ввести
          данные банковской карты:
          <ul>
            <li>Номер карты</li>
            <li>Имя владельца карты</li>
            <li>Срок действия карты</li>
            <li>Трёхзначный код безопасности* (CVV2 для VISA, CVC2 для
              MasterCard, Код Дополнительной Идентификации для МИР)</li>
          </ul>
          Все необходимые данные пропечатаны на самой карте. Далее Вы будете
          перенаправлены на страницу Вашего банка для ввода кода безопасности,
          который придет к Вам в СМС. Если код безопасности к Вам не пришел, то
          следует обратиться в банк выдавший Вам карту.</p>
        <p><strong>Случаи отказа в совершении платежа:</strong>
          <ul>
            <li>Банковская карта не предназначена для совершения платежей через
              интернет, о чем можно узнать, обратившись в Ваш Банк</li>
            <li>Недостаточно средств для оплаты на банковской карте. Подробнее о
              наличии средств на банковской карте Вы можете узнать, обратившись
              в банк, выпустивший банковскую карту</li>
            <li>Данные банковской карты введены неверно</li>
            <li>Истек срок действия банковской карты. Срок действия карты, как
              правило, указан на лицевой стороне карты (это месяц и год, до
              которого действительна карта). Подробнее о сроке действия карты Вы
              можете узнать, обратившись в банк, выпустивший банковскую карту</li>
          </ul>
        </p>
        <hr />
        <p class="text-end text-muted mb-3">*Трёхзначный код безопасности — это
          три цифры, находящиеся на обратной стороне карты.
        </p>
      </div>

    </div>
    <div class="col mt-5">
      <div>
        <h2>Безопасность платежей</h2>
        <hr>
      </div>
        <div class="text-center">
        <img width="170" src="/img/logo/_verified-by-visa.png" alt="Visa" />
        <img
          width="150"
          src="/img/logo/_mastercard-securecode.png"
          alt="MasterCard"
        />
        <img width="170" src="/img/logo/MIRaccept.png" alt="Mir" />
      </div>
      <div class="mt-3 mb-3">
        <span>Услуга оплаты через интернет осуществляется в соответствии с
          Правилами международных платежных систем Visa, MasterCard и Платежной
          системы МИР на принципах соблюдения конфиденциальности и безопасности
          совершения платежа, для чего используются самые современные методы
          проверки, шифрования и передачи данных по закрытым каналам связи. Ввод
          данных банковской карты осуществляется на защищенной платежной
          странице АО «АЛЬФА-БАНК».</span>
      </div>
    </div>
    <div class="col mt-5">
     <div>
        <h2>Kонфиденциальность информации</h2>
        <hr>
     </div>
      <div>
      <span>Предоставляемая Вами персональная информация (имя, адрес, телефон,
        e-mail, номер банковской карты) является конфиденциальной и не подлежит
        разглашению. Данные Вашей кредитной карты передаются только в
        зашифрованном виде и не сохраняются на нашем Web-сервере.</span>
    </div>
    </div>
    <div class="col mt-5 mb-3">
      <hr>
      По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с
      работой сайта, Вы можете обращаться по следующим телефонам: 8 (921)
      570-75-59.
    </div>
  </div>
</div>