<div class="container text-light">
  <div class="m-3">
    <div class="card-header">
      <div class="card-title text-center">
        <h3>Способы оплаты заказа</h3>
      </div>
    </div>
    <div class="card-body text-center">
      <span>Оплатить заказ вы можете следующими способами:</span>
      <p>Осуществить онлайн платеж</p>
      <p>Ознакомиться с правилами оплаты, банковскими картами вы можете
        <a class="link-warning" href="/payment/info">Тут</a></p>
      <p>Возврат товара осуществляется по
        <a class="link-warning" href="/payment/return">следующим</a>
        правилам</p>
      <div class="text-center">
        <img src="/img/logo/all.jpg" alt="Список платежных систем" />
      </div>
    </div>
  </div>
</div>