<div class="container">
  <div class="text-center mt-5">
    <h1>404 Ошибка</h1>
    <p>Страница не найдена</p>
  </div>
  <div class="text-end mb-3">
    <a class="btn btn-outline-primary" href="/">На главную</a>
  </div>
</div>