<div class="container mh-100 text-light">
  <div class="mt-5 mb-5">
    <div class="card-header bg-light bg-opacity-10">
      <div class="card-title text-center">
        <h1>Информация о доставке</h1>
      </div>
    </div>
    <div class="card-body">
      <span class="p-2">
        <p>Доставка осуществляется по СПБ (В пределах КАД). Так же возможна отправка в регионы
          СДЭК</p>
        <p>Время доставки до 22:00</p>
        <p>Минимальная сумма для бесплатной доставки: 1500руб</p>
        <p>Стоимость доставки составляет: 400руб</p>
      </span>
    </div>
    <div class="card-footer bg-light bg-opacity-25">
    </div>
  </div>
</div>