<div class="container-xl mt-5 mb-3 text-light">
  <div class="d-flex flex-column justify-content-center">
    <div>
      <h1 class="text-center">Контактная информация</h1>
      <hr />
    </div>
    <div>
      <table class="table text-light">
        <tr>
          <th>
            Название компании
          </th>
          <th>
            Интернет-магазин: SNACK CASE
          </th>
        </tr>
        <tr>
          <th>
            ИНН
          </th>
          <th>
            560918442340
          </th>
        </tr>
        <tr>
          <th>
            ОГРНИП
          </th>
          <th>
            321565800074665
          </th>
        </tr>
        <tr>
          <th>
            Юридический адрес
          </th>
          <th>
            Оренбургская обл. г.Оренбург ул.Конституции СССР д.26 кв/оф 78
          </th>
        </tr>
        <tr>
          <th>
            Телефон
          </th>
          <th>
            +79215707559
          </th>
        </tr>
        <tr>
          <th>
            Email
          </th>
          <th>
            shop@snackcase.ru
          </th>
        </tr>
        <tr>
          <th>
            Сайт
          </th>
          <th>
            www.snacksace.ru
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>