<div class="uk-container">
  <div class="uk-card uk-card-default uk-margin-bottom">
    <div class="uk-card-header">
      <div class="uk-card-title">Способы оплаты заказа</div>
    </div>
    <div class="uk-card-body">
      <span>Оплатить заказ вы можете следующими способами:</span>
      <p>Перевод на карту: <b>4777 1422 1385 7918</b></p>
      <p>Осуществить онлайн платеж (В разработке)</p>
    </div>
  </div>
</div>